public/data/LIDAR_Composite_10m_DTM_2022.tif

public/data/RoFRS/rofrs_4band_0_2m_depth/
public/data/RoFRS/rofrs_4band_0_3m_depth/
public/data/RoFRS/rofrs_4band_0_6m_depth/
public/data/RoFRS/rofrs_4band_0_9m_depth/
public/data/RoFRS/rofrs_4band_1_2m_depth/

public/data/RoFSW/rofsw_0_2m_depth/
public/data/RoFSW/rofsw_0_3m_depth/
public/data/RoFSW/rofsw_0_6m_depth/
public/data/RoFSW/rofsw_0_9m_depth/
public/data/RoFSW/rofsw_1_2m_depth/
